.cal {
  > div {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2px;
    padding-right: 2px;
    h2 {
      margin: 0;
      white-space: nowrap;
      vertical-align: middle;
      text-align: center;
      font-family: 'proxima_novabold';
      color: $fontmuted;
      font-size: 18px;
      position: absolute;
      width: 100%;
      bottom: -24px;
    }
    &.passed {
      h2 {
        color: $fontdark;
      }
    }
    &.active {
      h2 {
        color: $white;
      }
    }

    // Desktop
    @media (min-width: 992px) { 
      border-bottom: 1px dashed #B10A32;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 15px;
      padding-right: 15px;
      h2 {
        font-size: 30px;
        position: absolute;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

}