.modal {
  overflow: scroll;
  height: inherit;
}

.modal-dialog {
  background: none;
  overflow: visible;
  @media (min-width: 768px) {
    max-width: 640px;
  }
  .modal-header {
    border: none;
    margin: 0;
    padding: 0;
    .close {
      text-shadow: none;
      color: #C41039;
      opacity: 1;
      font-size: 60px;
    }
  }
  .modal-content {
    background: none;
    box-shadow: none;
    border: none;
    img {
      margin: 10px auto;
      display: block;
      max-width: 100%;
      height: auto;
    }
    video {
      margin: 10px auto;
      display: block;
      max-width: 100%;
      height: auto;
    }
    .video-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
    h3 {
      color: #fff;
      font-family: 'proxima_novaregular';
      font-size: 1.3em;
      line-height: 1.5em;
      a {
        font-family: 'proxima_novabold';
        color: #fff;
      }
    }
    .box {
      overflow: hidden;
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 0 25px 25px;
      span {
        font-size: 45px;
        color: #C41039;
        font-family: 'proxima_novabold';
        float: left;
      }
      .share {
        margin: 15px 0px 0 0;
        ul {
          li {
            a {
              margin: 0 0 0 20px;
            }
          }
        }
        svg {
          path {
            fill: #C41039;
          }
        }
      }
    }
    
  }
}

.modal-backdrop.in {
  opacity: 0.7;
}