$icon-font-path: '../fonts/';
$bgred: darken(#ED1847, 1%);
$fontred: darken(#ED1847, 10%);
$fontmuted: #C41039;
$fontdark: #790018;
$white: #fff;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "fonts";
@import "calendar";
@import "advents";
@import "headernav";
@import "footer";
@import "modal";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

canvas {
  position: absolute;
  width: 100%;
  height: auto;
  pointer-events:none;
  z-index: 999999;
}

/* Space out content a bit */
body {
  background: $bgred;
  font-family: 'proxima_novaregular';
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 992px) {
  .container {
    max-width: 1480px;
  }
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}